doctype html

html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/statistic.css')
        link(href="https://fonts.googleapis.com/css?family=PT+Serif|Poppins|Ubuntu" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous")
        script(src="https://code.getmdl.io/1.3.0/material.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
        script(src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js")
        script(src='/javascripts/statistic.js')
    body

        .wrapper

            .header
                img.logo(src="../images/obEN_logo.png" height=31 width=62.5)
                a.header_statistic(href="/statistic") Statistic
                a.header_profile(href="/profile") Profile
                a.header_dashboard(href="/main") Dashboard
                a.header_logout(href="/login") Logout
            .content
                form.user_filter
                    p User:
                    select#user_filter_user(name="user")


                    p Date:
                    select#user_filter_date(name="date")
                        option(value = 1) daily
                        option(value = 7) weekly
                        option(value = 30) monthly


                    button.user_filter_button(onclick="submitFilter()") submit
                h1.title report
                .graph
                    canvas#trend_graph(width = "800px" height= "400px")
                    canvas#pie_graph(width = "400px" height= "400px")

                p#submission_text Submission History
                ul.submissions#list
                    if list
                        each val in list
                            li.submission
                                p.submission_name=val.title
                                p.submission_date=val.date
                                p.submission_description=val.description
                                p.submission_status=val.status


            .footer
                .download download
                .review review













